/* .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
} */

.about-page {
    padding: 20px;
    min-height: 78.9vh;
    /* background-color: #f9f9f9; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-page h2 {
    margin-top: 0;

}